body {
    background-color: rgb(243, 243, 243);
}

main {
    width: 960px;
    margin: 5px auto 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px #CCC;
}

header {
    width: 960px;
    height: 110px;
    background-image: url("../_img/topo.jpg");
}

article {
    margin-top: 10px;
    width: 600px;
    float: left;
    padding: 20px;
}

article h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 32px;
    text-shadow: 1px 1px 5px #999;
    color: rgb(204, 153, 102);
    margin: 3px 0;
}

article h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 26px;
    text-shadow: 1px 1px 5px #999;
    color: rgb(204, 153, 102);
    margin: 3px 0;
}

article img {
    float: left;
    margin-right: 10px;
}

article p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 180%;
}

aside {
    float: right;
    width: 300px;
    padding: 10px;
}

aside img {
    margin-bottom: 10px;
}

footer {
    width: 960px;
    height: 30px;
    background-color: rgb(239, 239, 239);
    clear: both;
}